@import "bootstrap_overrides";
@import "fonts";

#hero {
  color: white;
  h2 {
    font-weight: 700;
    font-size: 3rem;
  }
  P {
    width: 80%;
    font-weight: 300;
    font-size: 1.3rem;
  }
  button {
    font-weight: 600;
  }
}

.headline-icons {
  background-color: #ffeeda;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1.5rem;
    color: #c28135;
  }
}

#cont-head {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    font-weight: 500;
    color: rgb(116, 116, 116);
  }
}

#headline {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  div {
  }
}

@media screen and (max-width: 768px) {
  header .row {
    flex-direction: column;
  }
}
